/* body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(208, 100%, 85%);
} */
.calculator-page {
  background-color: rgb(244, 235, 235);
  height: 100vh;
}
#calculator {
  font-family: monospace, Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
#display {
  width: 100%;
  padding: 20px;
  font-size: 3rem;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
}
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}
#keys button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: hsl(0, 0%, 30%);
  font-size: 2rem;
  font-weight: bold;
  font-family: monospace;
  cursor: pointer;
}
#keys button:hover {
  background-color: hsl(0, 0%, 40%);
}
#keys button:active {
  background-color: hsl(0, 0%, 50%);
}
#keys .operator-btn {
  background-color: hsl(38, 92%, 50%);
}
#keys .operator-btn:hover {
  background-color: hsl(38, 92%, 60%);
}
#keys .operator-btn:active {
  background-color: hsl(38, 92%, 70%);
}
