/* .box {
  border: 3px solid black;
  padding: 30px;
} */

.stopwatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: whitesmoke;
  padding: 30px;
}

.display {
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: rgb(46, 45, 45);
  margin-bottom: 20px;
}

.controls button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: backgroud-color 0.5s ease;
}

.start-button {
  background-color: hsl(120, 100%, 25%);
}
.start-button:hover {
  background-color: hsl(120, 100%, 20%);
}

.stop-button {
  background-color: hsl(0, 100%, 50%);
}
.stop-button:hover {
  background-color: hsl(0, 100%, 45%);
}

.reset-button {
  background-color: hsl(240, 100%, 50%);
}
.reset-button:hover {
  background-color: hsl(240, 100%, 45%);
}
